// 基础颜色
$default-color: #333333;
$primary-color: #b629f7;
$success-color: #3bf017;
$info-color: #c1b7b7;
$warning-color: #f55d0c;
$danger-color: #f70101;
$black-color: #000000;
$white-color: #ffffff;

// 主题色map
$theme-color: (
  default: $default-color,
  primary: $primary-color,
  success: $success-color,
  info: $info-color,
  warning: $warning-color,
  danger: $danger-color,
);

// 获取对应的颜色
@function get-color($c) {
  @if ($c == "default") {
    @return $default-color;
  }
  @if ($c == "primary") {
    @return $primary-color;
  }
  @if ($c == "info") {
    @return $info-color;
  }
  @if ($c == "success") {
    @return $success-color;
  }
  @if ($c == "danger") {
    @return $danger-color;
  }
  @if ($c == "warning") {
    @return $warning-color;
  }
}
